

<div class="container" style="padding-top:50px">
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<h3>Home <a class="btn btn-info addPerson"><i class="fa fa-plus-circle"></i></a></h3>
				<div class="row">
					<div class="col-md-12">
						<table class="table">
						<tr>
							<% _.each(columns,function(columnName) { %>
								<th><%= columnName %></th>
							<% }); %>
						</tr>
						<% _.each(rows,function(row) { %>
						<tr>
							<% _.each(row,function(value,idx) { %>
								<td><%= value %></td>
							<% }); %>
							<!-- add the delete button -->
							<td>
								<a class="btn btn-danger deleteRecord" data-id="<%= row.id %>"><i class="fa fa-trash"></i></a>
							</td>
						</tr>
						<% }); %>
						</table>
					</div>
				</div>			
			</div>
		</div>
	</div>
	
</div>

	<div class="modal fade" id="addPersonModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        &nbsp;
	      </div>
	      <div class="modal-body" id="modalContent">
 
 	      </div>
	    </div>
	  </div>
	</div> 
