

<div class="container" style="padding-top:50px">
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<h3>Home <a class="btn btn-info addPerson"><i class="fa fa-plus-circle"></i></a></h3>
				<hr/>
				<div id="persons"></div>
			</div>
		</div>
	</div>
	
</div>

	<div class="modal fade" id="addPersonModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        &nbsp;
	      </div>
	      <form method="post">
	      <div class="modal-body">
	        <div class="form-group">
	        	<input type="text" id="username" name="username" class="form-control" placeholder="Username"/>
	        </div>
	        <div class="form-group">
	        	<input type="password" id="password" name="password" class="form-control" placeholder="Password"/>
	        </div>	        
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-info">Login</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div> 
