	    <a id="menu-toggle" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
	    <nav id="sidebar-wrapper">
	        <ul class="sidebar-nav">
	            <a id="menu-close" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times fa-inverse"></i></a>
	            <li>
	                <a href="#/" onclick="javascript:$('#sidebar-wrapper').toggleClass('active');">Home</a>
	            </li>
	            <li>
	                <a href="/logout" onclick="javascript:$('#sidebar-wrapper').toggleClass('active');">Logout</a>
	            </li>	            
	        </ul>
	    </nav>